<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  
	<title>Backbone-Login : Authentication Framework</title>
	<meta name="description" content="backbone-login sample app">
	<meta name="author" content="ehrndog">
	  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="csrf-token" content="{{csrfToken}}">
	  
	<!--<link rel="shortcut icon" href="./favicon.ico">-->
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/github-fork.css">
	<link rel="stylesheet" href="/assets/css/bb-login.css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
	<![endif]-->
</head>

<body>
	<div id="wrap">
		<div class="header"></div>
	
		<div id="content" class="container">
            <script src="/assets/lib/require.js" data-main="/config.js"></script>
        </div>
	</div>
	
	
	<div id="footer" class="container">
		<hr>
	    <p class="pull-left"><a href="http://alexehrnschwender.com/">&copy; 2013 Alex Ehrnschwender</a></p>
        <p class="pull-right">Powered by <a href="http://expressjs.com" target="_blank">Express.js</a> &amp; <a href="http://backbonejs.org/" target="_blank">Backbone.js</a></p>
	</div>
	
</body>
</html>

