<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">Backbone-Login</a>
			<div id="headerAlert" class="alert alert-success span4" style="display: none"><button class="close" data-dismiss="alert">×</button><strong>Success!</strong> Something happened successfully</div>
			<div id="userMenu" class="btn-group pull-right" style="display: none">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i><%= email %>
					<span class="caret"></span>
				</a>
        		<ul class="dropdown-menu"><li><a class="logoutBtn" href="#" >Sign Out</a></li></ul>
      		</div>
      
    	</div>
  	</div>
</div>
