/*
 * GENERAL - following sticky footer
 */
html, body {
	height: 100%;
	padding-top: 30px;
}

#wrap {min-height: 85%;}

#content {
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	overflow-x: hidden;
}

#footer {
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	clear:both;
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
}

table, tr, tbody, td {
	vertical-align: middle;
}

.hero-unit {
	padding: 30px 20px 30px 20px;
	margin: 30px 20px 20px 20px;
}

/*
 * FORMS
 */
.form {text-align: left; margin: 20px 0 0 0;}
.form-buttons {padding-left: 160px;}
.control-group {text-align:left;}

#login-form{
	padding-left: 120px;
	padding-right: 120px;
}
#transaction-form{
	padding-top: 40px;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}

/*
 * ALERTS
 */
.alert {
	margin-top: 5px;
	padding: 3px 35px 3px 14px;
	margin-bottom: 5px;
}


/*
 * IMAGES
 */
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Opera footer fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px; /*negate effect of float*/
}
